svg {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    top: 0px;
    left: 0px;
  }
  
  .svg-mark-point {
    transform: translateY(15px);
    width: 30px;
    height: 30px;
    i {
      font-size: 20px;
      cursor: pointer;
    }
  }
  
  .box-subordinate-content {
    .subordinate-body {
      padding: 10px 0 0 10px;
    }
    .subordinate-header {
      border: 2px solid #e6e6e6;
      font-size: 13px;
    }
  }
  
  .toggle-display{
    font-weight: bold;
    transition: all 0.2s;
    color: #3699FF;
    cursor: pointer;
  }
  